h1, h3
{
    text-align: center;
}

p
{
    text-align: center;
}
.flexMe
{
    display: flex;
    justify-content: space-evenly;
}

.divButton button {
    font-size: 20px;
    width: 30%;
    border-radius: 10px;
}

.smallerBox {
    margin-left: 19%;
    border: 3px solid;
    width: 60%;
    text-align: center;
    padding: 5px 5px;
}

.right
{
    position: absolute;
    right: 125px;
    width: 200px;
    height: 120px;
    border: 3px black;
}

.left
{
    position: absolute;
    left: 125px;
    border: black;
}